<header class="nav" appDevicePadding>
  <div class="input-box" >
    <svg class="search-bth" appFastClick (onFastClick)="navSearch()">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-search"></use>
    </svg>
    <input type="text" placeholder="找酒店、搜电影" [(ngModel)]="searchforword"/>
    <svg class="close-bth" appFastClick (onFastClick)= "searchforword = ''">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-del2"></use>
    </svg>
  </div>
  <button appFastClick (onFastClick)="goPage('./home')">取消</button>
</header>
<div class="nav-bg" appDevicePadding></div>

<main class="search-sec scroll-container">
  <div class="history">
    <div class="his-title">
      <span>搜索历史</span>
      <svg class="del-bth" appFastClick (onFastClick)="cache = []">
        <use xlink:href="assets/icon/symbol-defs.svg#icon-del"></use>
      </svg>
    </div>
    <div class="his-list">
      <span *ngFor="let item of cache">{{item}}</span>
    </div>
  </div>

  <div class="search-list">
    <ul class="movie-list">
      <li class="movie-item" *ngFor="let movie of movieList" appFastClick (onFastClick)="goPage('./movie-detail/'+movie.id)">
      <!--<li class="movie-item" appFastClick (onFastClick)="goPage('./movie-detail/1')">-->
        <figure class="movie-figure">
          <div class="hotel-img" [ngStyle]="{'backgroundImage': 'url('+ movie.pic +')'}"></div>
          <!--<div class="movie-img" style="background:url('/assets/image/movie-1.png') 100% 100%"></div>-->
          <figcaption class="hotel-info">
            <h4 class="title">{{movie.movie_name}}</h4>
            <div class="detail-box">
              <p class="detail">主演： {{movie.targets}}</p>
            </div>
            <div class="star">
              <svg class="icon-right-arrow">
                <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
              </svg>
              <svg class="icon-right-arrow">
                <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
              </svg>
              <svg class="icon-right-arrow">
                <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
              </svg>
              <span>{{movie.movie_score}}分</span>
            </div>
            <div class="movie-class">
              <div class="time">
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-clock"></use>
                </svg>
                {{movie.times}}分钟
              </div>
              <!--<span>动作</span>-->
              <!--<span>科幻</span>-->
            </div>
          </figcaption>
        </figure>
      </li>
    </ul>

    <ul class="hotel-list">
      <li class="hotel-item" *ngFor="let hotel of hotelList" appFastClick (onFastClick)="goPage('./hotel-detail/'+hotel.id)">
      <!--<li class="hotel-item" appFastClick (onFastClick)="goPage('./hotel-detail/1')">-->
        <figure class="hotel-figure">
          <div class="hotel-img" [ngStyle]="{'backgroundImage': 'url('+ hotel.pic +')'}"></div>
          <!--<div class="hotel-img" style="background:url('/assets/image/hotel-1.png') 100% 100%"></div>-->
          <figcaption class="hotel-info">
            <h4 class="title">{{hotel.hotel_name}}</h4>
            <div class="detail-box">
              <p class="detail">地址： {{hotel.address}}</p>
            </div>
            <div class="star">
              <svg class="icon-right-arrow">
                <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
              </svg>
              <svg class="icon-right-arrow">
                <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
              </svg>
              <svg class="icon-right-arrow">
                <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
              </svg>
              <span>{{hotel.score}}分</span>
            </div>
            <div class="detail-box last-detail-box">
              <div class="book-num">
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-peoplenum"></use>
                </svg>
                {{hotel.orders}}人预定过
              </div>
              <div class="cost">￥{{hotel.price}}起</div>
            </div>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>

  <div class="no-content" *ngIf="nocontent">
    <svg class="close-bth">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-none2"></use>
    </svg>
    <div class="msg">
      暂无“天才枪手”相关信息，请重新输入
    </div>
  </div>
</main>

<app-modal [modal]="modal" (onConfirm)="confirm($event)"></app-modal>
