<footer class="tab">
  <a class="nav" routerLink="/home" routerLinkActive="active">
    <svg class="icon-home-inactive">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-index"></use>
    </svg>
    <svg class="icon-home-active">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-index2"></use>
    </svg>
    <h4>首页</h4>
  </a>
  <a class="nav" routerLink="/hotel" routerLinkActive="active">
    <svg class="icon-loan-inactive">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-hotel3"></use>
    </svg>
    <svg class="icon-loan-active">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-hotel"></use>
    </svg>
    <h4>酒店</h4>
  </a>
  <a class="nav" routerLink="/movie" routerLinkActive="active">
    <svg class="icon-person-inactive">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-movie"></use>
    </svg>
    <svg class="icon-person-active">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-movie2"></use>
    </svg>
    <h4>电影</h4>
  </a>
  <a class="nav" routerLink="/news" routerLinkActive="active">
    <svg class="icon-person-inactive">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-news"></use>
    </svg>
    <svg class="icon-person-active">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-new2"></use>
    </svg>
    <h4>资讯</h4>
  </a>
  <a class="nav" routerLink="/person" routerLinkActive="active">
    <svg class="icon-person-inactive">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-main"></use>
    </svg>
    <svg class="icon-person-active">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-main2"></use>
    </svg>
    <h4>我的</h4>
  </a>
</footer>
