<footer class="tab">
  <a class="nav" routerLink="/homefalse" routerLinkActive="active">
    <svg class="icon-home-inactive">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-home"></use>
    </svg>
    <svg class="icon-home-active">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-home-active"></use>
    </svg>
    <h4>首页</h4>
  </a>
  <a class="nav" routerLink="/strategyfalse" routerLinkActive="active">
    <svg class="icon-loan-inactive">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-gonglue2"></use>
    </svg>
    <svg class="icon-loan-active">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-gonglue1"></use>
    </svg>
    <h4>攻略</h4>
  </a>
  <a class="nav" routerLink="/newsfalse" routerLinkActive="active">
    <svg class="icon-loan-inactive">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-faxian2"></use>
    </svg>
    <svg class="icon-loan-active">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-faxian1"></use>
    </svg>
    <h4>发现</h4>
  </a>
  <a class="nav" routerLink="/personfalse" routerLinkActive="active">
    <svg class="icon-person-inactive">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-person"></use>
    </svg>
    <svg class="icon-person-active">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-person-active"></use>
    </svg>
    <h4>个人中心</h4>
  </a>
</footer>
