<app-nav [title]="'电影详情页'" [showConfig]="{isArrowShow: true}"></app-nav>

<div class="header-padding" appDevicePadding></div>
<main class="movie-sec">

  <div class="detail">
    <div class="left">
      <!--<div class="top-movie" style="background:url('/assets/image/movie-1.png') 100% 100% no-repeat"></div>-->
      <div class="top-movie" [ngStyle]="{'backgroundImage': 'url('+ moviePic +')'}"></div>
    </div>
    <div class="right">
      <p class="title">
        {{movieName}}
      </p>
      <div class="star">
        <svg class="icon-right-arrow">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg class="icon-right-arrow">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg class="icon-right-arrow">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg class="icon-right-arrow">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
        </svg>
        <span>{{score}}分</span>
      </div>
      <div class="class">
        类型：
        <span>{{targets}}</span>
      </div>
      <div class="howlong">
        片长：{{times}}分钟
      </div>
      <div class="onshow">
        上映： {{upTime}}
        <span>评分</span>
      </div>
    </div>
  </div>

  <section class="movie-detail">
    <p>
      {{profile}}
    </p>
  </section>

  <section class="dianping">
    <div class="title">
      短评
      <span class="num">
        <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-write"></use>
        </svg>
      </span>
    </div>
    <div class="dianping-list">
      <ul>
        <li *ngFor="let comment of commentList">
          <img class="tx" src={{comment.user_icon}} />
          <div class="detail">
            <div class="name">{{comment.user_name}}</div>
            <div class="dianping-num">
              打分
              <div class="star">
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <span>{{comment.score}}分</span>
              </div>
            </div>
            <div class="say">
              {{comment.content}}
            </div>
            <!--<div class="date">-->
              <!--<svg class="icon-right-arrow">-->
                <!--<use xlink:href="assets/icon/symbol-defs.svg#icon-clock"></use>-->
              <!--</svg>-->
              <!--&lt;!&ndash;2017-11-10&ndash;&gt;-->
            <!--</div>-->
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>

