<app-nav [title]="'电影详情页'" [showConfig]="{isArrowShow: true}"></app-nav>

<div class="header-padding" appDevicePadding></div>
<main class="movie-sec">

  <div class="detail">
    <div class="left">
      <div class="top-movie" style="background:url('/assets/image/movie-1.png') 100% 100% no-repeat">
      </div>
    </div>
    <div class="right">
      <p class="title">
        东方快车谋杀案东方快车谋杀案...
      </p>
      <div class="star">
        <svg class="icon-right-arrow">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg class="icon-right-arrow">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg class="icon-right-arrow">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg class="icon-right-arrow">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
        </svg>
        <span>4.5分</span>
      </div>
      <div>
        类型：
        <span>动作</span>
        <span>科幻</span>
        <span>悬疑</span>
      </div>
      <div>
        片长：120分钟
      </div>
      <div>
        上映： 2017-11-10
        <span>评分</span>
      </div>
    </div>
  </div>

  <section class="movie-detail">
    <p>
      影片讲述大侦探在东方快车上巧破一桩谋杀奇案的故事。波洛呈上东方快车，夜间三次被吵醒，第二天清晨便发现同车的美国富商雷切尔被人欧莎，死者被戳了12刀。波洛根据他所观察到的各种可疑迹象以及同车人士的询问，并结合美国实行的12人陪审团制度等情况进行逻辑推理，成功地揭开了一起“集体复仇”奇案。
    </p>
  </section>

  <section class="dianping">
    <div class="title">
      短评
      <span class="num">4.5分</span>
    </div>
    <div class="dianping-list">
      <ul>
        <li>
          <img class="tx" src="/assets/image/tx-dp.png" />
          <div class="detail">
            <div class="name">Anna听不见下雪的声音</div>
            <div class="dianping-num">
              打分
              <div class="star">
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <span>4.5分</span>
              </div>
            </div>
            <div class="say">
              没有专属的停车位，服务态度超差，是我见过最差的了，超级差评，一点也没有考虑顾客的感受。
            </div>
          </div>
        </li>
        <li>
          <img class="tx" src="/assets/image/tx-dp.png" />
          <div class="detail">
            <div class="name">Anna听不见下雪的声音</div>
            <div class="dianping-num">
              打分
              <div class="star">
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <span>4.5分</span>
              </div>
            </div>
            <div class="say">
              没有专属的停车位，服务态度超差，是我见过最差的了，超级差评，一点也没有考虑顾客的感受。
            </div>
          </div>
        </li>
        <li>
          <img class="tx" src="/assets/image/tx-dp.png" />
          <div class="detail">
            <div class="name">Anna听不见下雪的声音</div>
            <div class="dianping-num">
              打分
              <div class="star">
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <span>4.5分</span>
              </div>
            </div>
            <div class="say">
              没有专属的停车位，服务态度超差，是我见过最差的了，超级差评，一点也没有考虑顾客的感受。
            </div>
          </div>
        </li>
        <li>
          <img class="tx" src="/assets/image/tx-dp.png" />
          <div class="detail">
            <div class="name">Anna听不见下雪的声音</div>
            <div class="dianping-num">
              打分
              <div class="star">
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <span>4.5分</span>
              </div>
            </div>
            <div class="say">
              没有专属的停车位，服务态度超差，是我见过最差的了，超级差评，一点也没有考虑顾客的感受。
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>

