<app-nav [title]="'酒店详情页'" [showConfig]="{isArrowShow: true}"></app-nav>

<main class="hotel-sec">
  <!--<div class="top-hotel" style="background:url(' + {{topImg}} + ') 100% 100% no-repeat">-->
    <div class="top-hotel" [ngStyle]="{'background': 'url('+ topImg +') 100%'}">
  </div>
  <div class="detail">
    <div class="left">
      <p class="title">{{hotelName}}</p>
      <div class="addr">地址： {{address}}</div>
    </div>
    <div class="right">
      <a href="javascript:void(0)">
        <svg class="icon-right-tel" >
          <use xlink:href="assets/icon/symbol-defs.svg#icon-tel"></use>
        </svg>
        <div class="tel">热线电话</div>
      </a>
    </div>
  </div>

  <section class="hotel-detail">
    <div class="title">
      酒店详情
    </div>
    <div class="detail-list">
      <div>
        <span>开业时间： {{start}}年</span>
        <span>装修时间： {{decoration}}年</span>
      </div>
      <div>
        <span>入住时间： {{setin}}</span>
        <span>离店时间： {{leave}}</span>
      </div>
      <div><span>客房总数： {{roomnum}}</span></div>
    </div>
    <div class="tip">
      注： {{tip}}
    </div>
  </section>

  <section class="offer">
    <div class="title">
      酒店设施
    </div>
    <div class="offer-list">
      <div>
        <svg class="icon-right-tel">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-Wi-Fi"></use>
        </svg>
        <div>免费WiFi</div>
      </div>
      <div>
        <svg class="icon-right-tel">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-hotwater"></use>
        </svg>
        <div>24小时热水</div>
      </div>
      <div>
        <svg class="icon-right-tel">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-clean"></use>
        </svg>
        <div>免费洗漱用品</div>
      </div>
      <div>
        <svg class="icon-right-tel">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-chuifeng"></use>
        </svg>
        <div>吹风机</div>
      </div>
      <div>
        <svg class="icon-right-tel">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-save"></use>
        </svg>
        <div>行李寄存</div>
      </div>
    </div>
  </section>

  <section class="dianping">
    <div class="title">
      网友点评
      <span class="num">4.5分</span>
    </div>
    <div class="dianping-list">
      <ul>
        <li *ngFor="let item of commentList">
          <img class="tx" src={{item.user_icon}} />
          <div class="detail">
            <div class="name">{{item.user_name}}</div>
            <div class="dianping-num">
              打分
              <app-star [num]=item.score></app-star>
            </div>
            <div class="say">
              {{item.content}}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>

<div class="footer-btn">
  <button (click)="qian()">签到</button>
  <button (click)="write()">写点评</button>
</div>

<div class="qiandao" *ngIf="qiandao">签到成功!</div>
<div class="pinglun" *ngIf="ping">
  <span class="close" (click)="ping = false">X</span>
  <textarea placeholder="分享酒店交通，设施，服务，餐饮等方面体验。多写点评价对大家都有好处～" [(ngModel)]="dianpingtext"></textarea>
  <button (click)="submit()">提交</button>
</div>

<app-fly-msg [msg]="msg"></app-fly-msg>
