<app-nav [title]="'酒店详情页'" [showConfig]="{isArrowShow: true}"></app-nav>

<div class="header-padding" appDevicePadding></div>
<main class="hotel-sec">
  <div class="top-hotel" style="background:url('/assets/image/top-hotel.png') 100% 100% no-repeat">
  </div>
  <div class="detail">
    <div class="left">
      <p class="title">Zhotel智尚酒店(杭州西湖西溪店)</p>
      <div class="addr">地址： 政苑街8号（城西银泰斜对面）</div>
    </div>
    <div class="right">
      <svg class="icon-right-tel">
        <use xlink:href="assets/icon/symbol-defs.svg#icon-tel"></use>
      </svg>
      <div>热线电话</div>
    </div>
  </div>

  <section class="hotel-detail">
    <div class="title">
      酒店详情
    </div>
    <div class="detail-list">
      <div>
        <span>开业时间： 2016年</span>
        <span>装修时间： 2016年</span>
      </div>
      <div>
        <span>入住时间： 22：00</span>
        <span>离店时间： 12：00</span>
      </div>
      <div><span>客房总数： 118</span></div>
    </div>
    <div class="tip">
      注： 入住需要押金，金额以前台为准
    </div>
  </section>

  <section class="offer">
    <div class="title">
      酒店设施
    </div>
    <div class="offer-list">
      <div>
        <svg class="icon-right-tel">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-Wi-Fi"></use>
        </svg>
        <div>免费WiFi</div>
      </div>
      <div>
        <svg class="icon-right-tel">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-hotwater"></use>
        </svg>
        <div>24小时热水</div>
      </div>
      <div>
        <svg class="icon-right-tel">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-clean"></use>
        </svg>
        <div>免费洗漱用品</div>
      </div>
      <div>
        <svg class="icon-right-tel">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-chuifeng"></use>
        </svg>
        <div>吹风机</div>
      </div>
      <div>
        <svg class="icon-right-tel">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-save"></use>
        </svg>
        <div>行李寄存</div>
      </div>
    </div>
  </section>

  <section class="dianping">
    <div class="title">
      网友点评
      <span class="num">4.5分</span>
    </div>
    <div class="dianping-list">
      <ul>
        <li>
          <img class="tx" src="/assets/image/tx-dp.png" />
          <div class="detail">
            <div class="name">Anna听不见下雪的声音</div>
            <div class="dianping-num">
              打分
              <div class="star">
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <span>4.5分</span>
              </div>
            </div>
            <div class="say">
              没有专属的停车位，服务态度超差，是我见过最差的了，超级差评，一点也没有考虑顾客的感受。
            </div>
          </div>
        </li>
        <li>
          <img class="tx" src="/assets/image/tx-dp.png" />
          <div class="detail">
            <div class="name">Anna听不见下雪的声音</div>
            <div class="dianping-num">
              打分
              <div class="star">
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <span>4.5分</span>
              </div>
            </div>
            <div class="say">
              没有专属的停车位，服务态度超差，是我见过最差的了，超级差评，一点也没有考虑顾客的感受。
            </div>
          </div>
        </li>
        <li>
          <img class="tx" src="/assets/image/tx-dp.png" />
          <div class="detail">
            <div class="name">Anna听不见下雪的声音</div>
            <div class="dianping-num">
              打分
              <div class="star">
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <span>4.5分</span>
              </div>
            </div>
            <div class="say">
              没有专属的停车位，服务态度超差，是我见过最差的了，超级差评，一点也没有考虑顾客的感受。
            </div>
          </div>
        </li>
        <li>
          <img class="tx" src="/assets/image/tx-dp.png" />
          <div class="detail">
            <div class="name">Anna听不见下雪的声音</div>
            <div class="dianping-num">
              打分
              <div class="star">
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-star"></use>
                </svg>
                <span>4.5分</span>
              </div>
            </div>
            <div class="say">
              没有专属的停车位，服务态度超差，是我见过最差的了，超级差评，一点也没有考虑顾客的感受。
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>

<div class="footer-btn">
  <button class="active">签到</button>
  <button>写点评</button>
</div>
