@import "../../../assets/css/variable"

.modal-sec
  position fixed
  display flex
  align-items center
  justify-content center
  width 100%
  height 100%
  top 0
  background-color rgba(0,0,0,.4)
  z-index 3

.modal-container
  width 24.8rem
  color $font-main-color
  background-color #fff;
  border-radius 1.25rem
  overflow hidden

.modal-content
  padding 4.2rem 1rem
  text-align center
  font-size $font-normal-size
  color $font-main-color

.btn-group
  display flex
  background #f7fafb
  button
    color $font-sub-color
    flex auto
    font-size $font-bigger-size
    height 4.5rem
    border-radius 0
    border-top 1px solid #d7d7d7
    &:last-child
      border-left 1px solid #d7d7d7
      color $theme-red-color
    &:active
      background-color darken($theme-white-color, 10%);
