@import "../../../assets/css/variable.styl"

.nav
  position fixed
  top 0
  left 0
  width 100%
  color $theme-white-color
  height 44px
  letter-spacing 2px
  background $theme-blue-color
  z-index 2
  input
    margin 0.5rem auto
    height 3.4rem
    width 92%
    border-radius 17px
    display block
    padding-left 39px
    color $font-main-color
    font-size $font-normal-size
    &::placeholder
      color $theme-blue-color
  .search-bth
    position absolute
    left 30px
    top 15px
    width 13px
    height @width
    stroke  $theme-blue-color
    fill none
    cursor pointer

.nav-bg
  box-sizing content-box
  height 44px
  background $theme-blue-color

main
  position fixed
  top 0
  width 100%
  height 100%
  box-sizing border-box
  -webkit-overflow-scrolling touch
  overflow auto
  padding-bottom 5.9rem

  .banner
    width 100%
    margin-bottom 1.5rem

  section
    background $theme-white-color
    margin-bottom 1.5rem

  .top-news
    display flex
    height 6.4rem
    width 100%
    padding 1.5rem
    background $theme-white-color
    justify-content space-between
    img
      width 3.4rem
      margin-right 1.5rem
    .news
      font-size $font-normal-size
      line-height 1.9rem
      color $font-main-color
      display -webkit-box
      -webkit-box-orient vertical
      -webkit-line-clamp 2
      overflow hidden
      text-overflow ellipsis
      width 70%
      flex-grow 1
    svg
      width 9.3%
      height 16px
      margin-top 9px

.panel-header
  display flex
  height 4rem
  align-items center
  padding 0 1.5rem
  border $default-border
  background-color $theme-white-color
  img
    width 1.9rem
    height 1.7rem
    margin-right .6rem
  .movie-img
    width 2rem
  .panel-title
    flex auto
    line-height 1
    font-size $font-big-size
    color $font-main-color
  .more-btn
    flex none
    color $theme-gray-color
    font-size $font-smaller-size

.icon-right-arrow
  width 1.2rem
  height @width
  fill none
  stroke  $theme-gray-color
  vertical-align middle

.hotel-item
.movie-item
  background-color $theme-white-color
  padding-left 1.5rem
  &:active
    bg-darken()
  &:last-child
    .hotel-figure
      border-bottom none


.hotel-figure
.movie-figure
  display flex
  flex-grow 1
  align-items center
  padding 1.5rem 1.5rem 1.5rem 0
  border-bottom $default-border
  .hotel-img
  .movie-img
    width 7rem
    height 9rem
    background-size 100% !important
    bg-img()
    margin-right 1rem
    flex none
  .title
    font-size $font-normal-size
    color $font-main-color
    margin-bottom .8rem
    line-height 1
  .hotel-info
  .movie-info
    flex auto
    height 9rem
.star
  margin-bottom 2.1rem
  height 1.3rem
  line-height 1
  svg
    width 1.4rem
    height 1.3rem
    fill #ffc62c
  span
    color #ffc62c
    font-size $font-smaller-size
.detail-box
  display flex
  flex auto
  line-height 1
  font-size $font-small-size
  color $font-sub-color
  justify-content space-between
  .detail
    line-height 1.2
    margin-bottom .5rem
  .book-num
    font-size 1.1rem
    color $theme-blue-color
    svg
      fill $theme-blue-color
      width 1.1rem
      height .9rem
      margin-right .35rem
  .cost
    font-size 1.8rem
    color $theme-red-color
.movie-class
  font-size $font-smaller-size
  color $theme-blue-color
  display flex
  .time
    margin-right $font-smaller-size
    svg
      fill $theme-blue-color
  span
    margin-right 1rem
    color $theme-blue-color
    border 1px solid #1ba4dd
    border-radius .7rem
    font-size 1rem
    padding 0 .55rem
    width 3rem
    height 1.3rem
    line-height 1.3rem
    text-align center

.hotel-info
  position relative
.last-detail-box
  position absolute
  bottom 0
  width 100%
  .book-num
    line-height 1.8rem
  .cosr
    text-align right
