<app-nav [title]="'电影'" [showConfig]="{}"></app-nav>

<!--<div class="header-padding" appDevicePadding></div>-->
<main class="movie-sec scroll-container" [appTouchLoading]="!isCompleted" (canLoad)="canLoad()">
  <div class="top-movie" style="background:url('assets/image/movie-top.png') 100% 100% no-repeat">
  </div>

  <section class="hot-movie">
    <ul class="movie-list">
      <li class="movie" *ngFor="let movie of movieList" appFastClick (onFastClick)="goPage('./movie-detail/'+movie.id)">
      <!--<li class="movie-item" appFastClick (onFastClick)="goPage('./movie-detail/1')">-->
        <figure class="movie-figure">
          <div class="hotel-img" [ngStyle]="{'backgroundImage': 'url('+ movie.pic +')'}"></div>
          <!--<div class="movie-img" style="background:url('/assets/image/movie-1.png') 100% 100%"></div>-->
          <figcaption class="movie-info">
            <h4 class="title">{{movie.movie_name}}</h4>
            <div class="detail-box">
              <p class="detail">主演： {{movie.targets}}</p>
            </div>
            <app-star [num]=movie.movie_score></app-star>
            <div class="movie-class">
              <div class="time">
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-clock"></use>
                </svg>
                {{movie.times}}分钟
              </div>
              <!--<span>动作</span>-->
              <!--<span>科幻</span>-->
            </div>
          </figcaption>
        </figure>
      </li>
    </ul>
    <app-list-loading *ngIf="!isPageLoading && isLoading"></app-list-loading>
  </section>
</main>

<app-tab></app-tab>
