<app-nav [title]="'活力值'" [showConfig]="{isArrowShow: true, isDetailShow: true}"></app-nav>

<div class="sign">
  <svg>
    <use xlink:href="assets/icon/symbol-defs.svg#icon-huolizhi"></use>
  </svg>
  <button>
    每日签到
  </button>
  <div class="tips">
    <svg>
      <use xlink:href="assets/icon/symbol-defs.svg#icon-xiaoxi"></use>
    </svg>
    <span>连续签到有更多惊喜哦~</span>
  </div>
  <div class="rules">
    规则说明
  </div>
</div>

<div class="gifts-sec">
  <div class="title">
    积分好礼
  </div>
  <div class="gift-list">
    <div class="gift-item">
      <img src="assets/image/10tel.png">
      <div class="gift-title">
        中国移动充值券10元
      </div>
      <div class="points">
        <div>
          <svg>
            <use xlink:href="assets/icon/symbol-defs.svg#icon-huolizhi-1"></use>
          </svg>
          <span>2500</span>
        </div>
        <button>立即兑换</button>
      </div>
    </div>

    <div class="gift-item">
      <img src="assets/image/100m.png">
      <div class="gift-title">
        中国移动流量券100M
      </div>
      <div class="points">
        <div>
          <svg>
            <use xlink:href="assets/icon/symbol-defs.svg#icon-huolizhi-1"></use>
          </svg>
          <span>1250</span>
        </div>
        <button>立即兑换</button>
      </div>
    </div>

    <div class="gift-item">
      <img src="assets/image/huawei.png">
      <div class="gift-title">
        OPPO R11手机
      </div>
      <div class="points">
        <div>
          <svg>
            <use xlink:href="assets/icon/symbol-defs.svg#icon-huolizhi-1"></use>
          </svg>
          <span>10</span>
        </div>
        <button>立即兑换</button>
      </div>
    </div>

    <div class="gift-item">
      <img src="assets/image/oppo.png">
      <div class="gift-title">
        华为 荣耀8手机
      </div>
      <div class="points">
        <div>
          <svg>
            <use xlink:href="assets/icon/symbol-defs.svg#icon-huolizhi-1"></use>
          </svg>
          <span>10</span>
        </div>
        <button>立即兑换</button>
      </div>
    </div>
  </div>
</div>
