@import "../../../assets/css/variable.styl"

main
  height 100%
  overflow-y scroll

.news-detail-box
  .top
    padding 1.5rem
    border-bottom $default-border
    text-align center
    .title
      font-size $font-normal-size
      color $font-main-color
      margin-bottom .8rem
      margin-top -.3rem
    .from-date
      margin-bottom -.3rem
      font-size $font-small-size
      color $font-sub-color
      .date
        margin-left 1.5rem
        svg
          width 1rem
          height @width
          fill $theme-blue-color
  .detail-article
    padding 1.5rem
    font-size $font-normal-size
    color $font-main-color
    margin-top -.3rem
    p
      margin-bottom 2rem
