<app-nav [title]="'资讯'" [showConfig]="{isArrowShow: true}"></app-nav>

<!--<div class="header-padding" appDevicePadding></div>-->
  <main class="news-detail-sec">

    <section class="news-detail-box">
      <div class="top">
        <div class="title">
          {{title}}
        </div>
        <div class="from-date">
          <span class="from">
           {{from}}
          </span>
          <span class="date">
            <svg class="icon-right-arrow">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-clock"></use>
        </svg>
            {{date}}
          </span>
        </div>
      </div>
      <div class="detail-article" id="content">
      </div>

    </section>

  </main>
