<app-nav [title]="'资讯'" [showConfig]="{isArrowShow: true}"></app-nav>

<div class="header-padding" appDevicePadding></div>
  <main class="news-detail-sec">

    <section class="news-detail-box">
      <div class="top">
        <div class="title">
          《天才枪手》——最天才的创意，最蠢的结尾
        </div>
        <div class="from-date">
          <span class="from">
            毒蛇评论
          </span>
          <span class="date">
            <svg class="icon-right-arrow">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-clock"></use>
        </svg>
            2017-11-10
          </span>
        </div>
      </div>
      <div class="detail-article">
        <p>
          昨晚看了豆瓣评分高达8.5分的泰国电影《天才抢手》，作弊这个题材非常独特新颖，镜头语言也极其出彩有创意。
        </p>
        <p>
          通过背景音乐、情节设置和镜头语言，把一次次作弊的过程拍的惊心动魄，有的地方甚至有英雄大片的味道。这真是值得中国电影界好好学习的地方，并非只有美国英雄大片或者《战狼2》这样的火爆动作片才能拍出惊心动魄、激情澎湃的感觉，像作弊这样生活中的小题材也照样可以，而且还另有一番趣味。
        </p>
        <p>
          影片对人性的刻画和社会现实的深度映射也是做的相当不错的。看完我相信每个人都会感慨，作弊虽然不对，但社会分化如此残酷，穷人家的孩子即使聪明勤奋，再加上冒着危险和内心道德挣扎的作弊手段，也未必最后能得到跟富人阶层一起平等的坐在一起喝杯咖啡的机会。而富二代们付出的，不过是对他们来说的一点零花钱罢了。
        </p>
      </div>

    </section>

  </main>
