<app-nav [title]="'关于我们'" [showConfig]="{isArrowShow: true}"></app-nav>

<section>
  <div class="logo-box">
    <svg>
      <use xlink:href="assets/icon/symbol-defs.svg#icon-banben"></use>
    </svg>
    <div>V1.0.0</div>
  </div>

  <div class="main">
    <div class="title">关于我们：</div>
    <div class="detail">
      ***（APP名称）是***（公司名称）经营的第三方消费点评平台。借助移动互联网、信息技术和线下服务能力，***（APP名称）为消费者提供信赖的商家，消费评价和最新的信息，这之中包含了电影，酒店行业。消费者的评价将给予大家最大的参考。“点亮精彩生活”是我们的使命。因此我们团队的奋斗目标是：深刻理解消费者与商户需求，为其创造非凡体验和最大价值，并引领本地生活方式。
    </div>
  </div>

  <div class="foot">
    <div class="title">联系我们：</div>
    <div class="detail">
      如果在使用过程中遇到问题，请联系客服人员：400-696-3127
    </div>
  </div>

</section>
