@import "../../../assets/css/variable"

section
  &>div
    background $theme-white-color
    margin-bottom 1.5rem
    color $font-main-color
    font-size $font-normal-size
  .logo-box
    text-align center
    padding-bottom 1.5rem
    svg
      width 6.7rem
      height @width
      fill $theme-blue-color
      padding 5rem 0 1rem
    div
      line-height 12px

.title
  font-size $font-bigger-size
  padding 1.5rem
  border-bottom 1px solid rgba(52,52,52,0.3)
.detail
  padding 1.5rem
  line-height 1.5


