<app-nav [title]="'资讯'" [showConfig]="{}"></app-nav>

<div class="header-padding" appDevicePadding></div>
<main class="news-sec" [appTouchLoading]="!isCompleted" (canLoad)="canLoad()">

  <section class="news-box">
    <ul class="news-list">
      <li class="news-item" *ngFor="let news of newsList" appFastClick (onFastClick)="goPage('./news-detail/' + news.path)">
        <div>
          <div class="left">
            <div class="title">
              {{news.title}}
            </div>
            <div class="from-date">
              <span class="from">
                来源：{{news.origin}}
              </span>
              <span class="date">
                {{news.timestamp}}
              </span>
            </div>
          </div>
          <div class="right">
            <img src={{news.img}} />
          </div>
        </div>
      </li>
    </ul>
    <app-list-loading *ngIf="!isPageLoading && isLoading"></app-list-loading>
  </section>

</main>

<app-tab></app-tab>
