@import "../../../assets/css/variable.styl"

.intotal
  font-size $font-normal-size
  color $font-main-color
  background $theme-white-color
  margin-bottom 1.5rem
  padding 1.5rem

.input-box
  width 100%
  height 21rem
  textarea
    width 100%
    height 100%
    padding 1.5rem
    font-size 1.3rem

.star
  display inline-block
  margin-left .8rem
  height 1.3rem
  line-height 1
  background $theme-white-color
  svg
    width 1.4rem
    height 1.3rem
    fill #ffc62c
  span
    color #ffc62c
    font-size $font-smaller-size

.btn-box
  width 100%
  text-align center
  margin-top 7rem

.submit-btn
  font-size $font-bigger-size
  color $font-sub-color
  padding 1.2rem 6.4rem
  line-height 1
  background #d7d7d7
  border-radius 2rem


.success
  background rgba(27,29,30,0.5)
  width 9rem
  height 9rem
  text-align center
  border-radius 1.3rem
  color $theme-white-color
  font-size 1.5rem
  margin 0 auto
  padding-top 1.5rem
  svg
    width 3.6rem
    height @width
    fill $theme-white-color
    display block
    margin 0 auto
    margin-bottom 1rem
