<app-nav [title]="'酒店'" [showConfig]="{}"></app-nav>

<!--<div class="header-padding" appDevicePadding></div>-->
<main class="hotel-sec" [appTouchLoading]="!isCompleted" (canLoad)="canLoad()">
  <!--<div class="top-hotel" style="background:url(topHotelImg) 100% 100% no-repeat">-->
  <div class="top-hotel" [ngStyle]="{'background': 'url('+ topHotelImg +') 100%'}">
    <div class="detail">
      <p class="hotel-title">{{topHotelTitle}}</p>
      <app-star [num]='4.6'></app-star>
    </div>
  </div>

  <section class="hotel-container">
    <ul class="hotel-list" id="hotel-list">
      <li class="hotel-item" *ngFor="let hotel of hotelList" appFastClick (onFastClick)="goPage('./hotel-detail/'+hotel.id)">
      <!--<li class="hotel-item" appFastClick (onFastClick)="goPage('./hotel-detail/1')">-->
        <figure class="hotel-figure">
          <div class="hotel-img" [ngStyle]="{'backgroundImage': 'url('+ hotel.pic +')'}"></div>
          <!--<div class="hotel-img" style="background:url('/assets/image/hotel-1.png') 100% 100%"></div>-->
          <figcaption class="hotel-info">
            <h4 class="title">{{hotel.hotel_name}}</h4>
            <div class="detail-box">
              <p class="detail">地址： {{hotel.address}}</p>
            </div>
            <app-star [num]=hotel.score></app-star>
            <div class="detail-box last-detail-box">
              <div class="book-num">
                <svg class="icon-right-arrow">
                  <use xlink:href="assets/icon/symbol-defs.svg#icon-peoplenum"></use>
                </svg>
                {{hotel.orders}}人预定过
              </div>
              <div class="cost">￥{{hotel.price}}起</div>
            </div>
          </figcaption>
        </figure>
      </li>
    </ul>
    <app-list-loading *ngIf="!isPageLoading && isLoading"></app-list-loading>
  </section>
</main>

<app-tab></app-tab>
